.randup-stack {
  width: 80px;
  gap: 2px;
  display: flex;
  flex-direction: column;

  .logo-block {
    border-radius: 4px;
    height: 14px;
    width: 100%;
    transform: translateY(0);
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    position: relative;
  }
}

.black {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #242424;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}

.block-1 {
  background-color: #9e0142;
}

.block-2 {
  background-color: #f46d43;
  transition-delay: 100ms;
}

.block-3 {
  background-color: #fee08b;
  transition-delay: 200ms;
}

.block-4 {
  background-color: #abdda4;
  transition-delay: 300ms;
}

.block-5 {
  background-color: #3288bd;
  transition-delay: 400ms;
}

.randup-stack:hover .black {
  opacity: 0;
  transition-delay: 0s;
}

/* 1 -> 4 */
.randup-stack:hover .block-1 {
  transform: translateY(48px);
}

/* 2 -> 3 */
.randup-stack:hover .block-2 {
  transform: translateY(16px);
}

/* 3 -> 5 */
.randup-stack:hover .block-3 {
  transform: translateY(32px);
}


/* 4 -> 2 */
.randup-stack:hover .block-4 {
  transform: translateY(-32px);
}

/* 5 -> 1 */
.randup-stack:hover .block-5 {
  transform: translateY(-64px);
}

